<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="componentConfig1"
          class="com.java6.springtopic.config.ComponentConfig">
        <property name="key1" value="K1"/>
        <property name="key2" value="K2"/>
        <property name="key3" value="K3"/>
    </bean>


    <bean id="componentConfig2"
          class="com.java6.springtopic.config.ComponentConfig">
        <property name="key1" value="K1-2"/>
        <property name="key2" value="K2-2"/>
        <property name="key3" value="K3-2"/>
    </bean>


    <bean id="addressLocatorService"
          class="com.java6.springtopic.service.AddressLocatorService">
        <property name="dbUrl" value="http://gooogle.lv"/>
        <property name="country" value="LVA"/>
        <property name="componentConfig" ref="componentConfig1"/>
    </bean>
    <bean id="photoRecognitionService"
          class="com.java6.springtopic.service.PhotoRecognitionService">
        <property name="authKey" value="AUTH"/>
        <property name="processId" value="11" />
        <property name="strDecorator" value="DECORATE"/>
        <property name="componentConfig" ref="componentConfig2"/>
    </bean>

    <bean id="securityProcessor"
          class="com.java6.springtopic.processor.SecurityProcessor">
        <property name="addressLocatorService" ref="addressLocatorService"/>
        <property name="photoRecognitionService" ref="photoRecognitionService"/>
    </bean>


    <bean id="userProcessor"
          class="com.java6.springtopic.processor.UserProcessor">
        <property name="addressLocatorService" ref="addressLocatorService"/>
        <property name="photoRecognitionService" ref="photoRecognitionService"/>
    </bean>

</beans>
